body {
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    line-height: 1.6;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    margin-bottom: 16px;
}

a {
    color: #368CCB;
    text-decoration: none;
}

a:hover {
    color: #368CCB;
    text-decoration: none;
}

.navbar-item:hover {
    color: #368CCB;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#page-container {
    position: relative;
    min-height: 97vh;
}

#content-wrap {
    padding-bottom: 4rem;
}

#footer {
    height: 4rem;
}

#footer a {
    color: black;
}

.footer {
    padding: 1.5rem 1.5rem 2rem;
}

code {
    font-family: Consolas, 'Courier New', monospace;
}

.page-card-list {
    margin: 8px 8px;
}

.page-card-title {
    font-size: x-large;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin-bottom: 8px;
}

.page-card-text {
    margin-top: 16px;
}

.pagination {
    margin: 16px 4px;
}

.pagination a {
    border: none;
    overflow: hidden;
}

.shadow {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

.nav-shadow {
    box-shadow: 0 2px 3px rgba(26, 26, 26, .1);
}

.file-box {
    padding: 18px 24px;
}

.box .article {
    overflow-wrap: break-word;
    font-size: larger;
    word-break: break-word;
    line-height: 1.6;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.normal-container {
    margin: auto;
    max-width: 1200px;
    padding: 16px 16px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.narrow-container {
    margin: auto;
    max-width: 560px;
    padding: 16px 16px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
    font-size: larger;
}

.info {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: #738292;
    margin-bottom: 3em
}

.info a {
    text-decoration: none;
    color: inherit;
}

.links {
    margin: 16px;
}

span.line {
    display: inline-block;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.actions span, .actions a {
    margin-left: 16px;
}

.actions span {
    cursor: pointer;
}

.files-table {
    min-width: 960px;
    overflow-x: scroll;
}

#searchInput:focus {
    border: 1px #b5b5b5;
    box-shadow: 0 0 5px #b5b5b5;
}

.url-input:focus {
    border: 1px #b5b5b5;
    box-shadow: #b5b5b5;
}

.url-input:active {
    border: 1px #b5b5b5;
    box-shadow: #b5b5b5;
}

.folder-link {
    font-weight: bolder;
    color: #0a0a0a;
}

.file-link {
    color: #0a0a0a;
    word-wrap: break-word;
}

#imageDropZone {
    padding: 4.5rem 2.5rem;
    border: dashed #AAAAAA;
}

#imageDropZonePrompt {
    text-align: center;
    color: #AAAAAA;
    /*font-weight: bold;*/
    font-size: xx-large;
}


/* Reference: https://www.w3schools.com/howto/howto_js_snackbar.asp */
/* Reference 2ï¼š https://apvarun.github.io/toastify-js/ */
/* The snackbar - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; /* Centered text */
    padding: 16px 32px; /* Padding */
    position: fixed !important; /* Sit on top of the screen */
    z-index: 99999; /* Add a z-index if needed */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#notice {
    position: fixed;
    right: 16px;
    bottom: 16px;
    border-radius: 0.375em;
    width: 23rem;
    padding: 16px;
}

@media screen and (max-width: 768px) {
    #notice {
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
    }
}

#generalModalContent h2 {
    font-size: 20px !important;
}


.modal-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.video-sidebar {
    max-height: 68vh !important;
    overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar  {
    display: none;
}

#videoPlayer {
    max-height: 70vh !important;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}