<!DOCTYPE html>
<html lang="en">
{{template "header"}}
<body>
<div>
    {{template "nav"}}
    <div class="container">
        <div class="normal-container">
            <article id="messageToast" class="message is-danger" style="display: none">
                <div class="message-body" id="messageToastText">

                </div>
            </article>
            {{template "progress"}}
            <div class="box">
                <div class="table-container">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="page-card-title" style="color: #368CCB;">Go File {{.message}} 帮助文档</div>
                                    <div class="page-card-text">
                                        <h4>基本功能</h4>
                                        <ul>
                                            <li>
                                                上传文件：点击右上角的上传按钮进行上传，支持多文件上传，拖拽上传。当你在「文件」页面上传时，会上传到当前显示的路径下；在其他页面上传则上传到默认路径。
                                            </li>
                                            <li>下载文件：点击下载图标即可。</li>
                                            <li>搜索文件：导航栏右上角搜索栏，按回车搜索，关键词可以是文件名，上传日期，上传者和描述信息。注意该搜索栏自动获取焦点。</li>
                                            <li>删除文件：点击删除图标即可。</li>
                                        </ul>

                                        <h4>进阶功能</h4>
                                        <ul>
                                            <li>内置图床：支持多文件粘贴上传，拖拽上传。</li>
                                            <li>视频播放：展示的视频文件的根目录为你在程序启动时使用 <code>--video</code>
                                                参数指定的路径，当前支持三种格式（MP4，WebM，Ogg）。
                                            </li>
                                        </ul>

                                        <h4>其他</h4>
                                        如果本项目对你有意义，<a target="_blank"
                                                      href="https://github.com/songquanpeng/message-pusher">请⭐该项目</a>，
                                        <del>这是我继续维护的主要动力</del>
                                        ，谢谢 :)。

                                        <ul>
                                            <li>项目主页：<a href="https://github.com/songquanpeng/go-file">https://github.com/songquanpeng/go-file</a>
                                            </li>
                                            <li>博客页面：<a href="https://iamazing.cn/page/LAN-SHARE-使用教程">Go File 使用教程</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer"}}
</div>

{{template "modal"}}

</body>
</html>
