<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
<div>
    {{template "nav" .}}
    <div class="container" ondrop="imageDropHandler(event);" ondragover="imageDragOverHandler(event);">
        <div class="normal-container">
            <article id="messageToast" class="message is-danger" style="display: none">
                <div class="message-body" id="messageToastText">

                </div>
            </article>
            {{template "progress"}}
            <div class="box" id="imageDropZone">
                <div class="table-container">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p id="imageDropZonePrompt" style="margin-bottom: 0">拖拽上传或者复制粘贴</p>
                                    <script>
                                        document.onpaste = function (ev) {
                                            if (ev.clipboardData.files.length) {
                                                document.getElementById('fileInput').files = ev.clipboardData.files;
                                                uploadImage();
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div style="display: none" id="promptBox">
                <progress class="progress is-success" value="0" max="100" id="imageUploadProgress"></progress>
                <div class="box">
                    <div class="table-container">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <div class="page-card-title" style="color: #AAAAAA;" id="imageUploadStatus">
                                        </div>
                                        <div class="page-card-text" id="imageUploadPanel">

                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</div>

{{template "modal"}}
{{template "notice" .}}

</body>
</html>
