<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
<div>
    {{template "nav" .}}
    <div class="container">
        <div class="narrow-container">
            {{if .message }}
            <article id="messageToast" class="message is-danger">
                <div class="message-body" id="messageToastText">
                    {{.message}}
                </div>
            </article>
            {{ end }}

            <div>
                <h2 class="title">用户登录</h2>

                <form action="/login" method="post">
                    <div class="field">
                        <label class="label">用户名</label>
                        <div class="control">
                            <input class="input" name="username" type="text" required="" placeholder="请在此处输入用户名">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">密码</label>
                        <div class="control">
                            <input class="input" name="password" type="password" required=""
                                   placeholder="请在此处输入密码">
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <input type="submit" class="button is-light" autofocus value="提交">
                        </div>
                        <div class="control">
                            <input type="reset" class="button is-light" value="重置">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {{template "footer" .}}
</div>

{{template "modal"}}

</body>
</html>
