<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body style="height: 100%">
<div>
    {{template "nav" .}}
    <div class="container">
        <article id="messageToast" class="message is-danger" style="display: none">
            <div class="message-body" id="messageToastText">

            </div>
        </article>
        {{template "progress"}}
        <div class="columns" style="margin-top: 32px">
            <div class="column is-four-fifths">
                <video controls width="100%" id="videoPlayer">
                    <source src="{{.videoPath}}" id="videoSrc">
                </video>
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <tbody>
                    {{range $index, $file := .files}}
                    <tr style="font-size: smaller">
                        {{if $file.IsFolder }}
                        <td><a class="folder-link" href="{{$file.Link}}">📁 {{$file.Name}}</a></td>
                        {{ else }}
                        <td><a class="file-link" onclick='playVideo("{{$file.Link}}")'>🎞️ {{$file.Name}}</a></td>
                        {{ end }}
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <script>
                async function playVideo(src) {
                    document.getElementById('videoSrc').src = src;
                    let player = document.getElementById('videoPlayer');
                    await player.load();
                    player.play();
                }
            </script>
        </div>
    </div>
    {{template "footer" .}}
</div>

{{template "modal"}}
{{template "notice" .}}

</body>
</html>
