name: macOS Release

on:
  push:
    tags:
      - '*'
jobs:
  release:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
      - name: Build
        run: |
          go mod download
          go build -o go-file-macos
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: go-file-macos
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
